.main-wrapper {
display: flex;
justify-content: center;
align-items: flex-start; 
flex-direction: column-reverse;
        
height: 620px;
width: 630px;
margin-top: 52px;
}

.organic, .progressive {
width: 30px;
height: 40px;
background-color: white;
border-radius: 4px;
vertical-align: middle;
border: 1px solid #ddd;
appearance: none;
 -webkit-appearance: none;
outline: none;
cursor: pointer;
}

.organic:checked, .progressive:checked {
background-color: #333333;
}

.buttons {
display: flex;
flex-direction: column;
margin-top: 20px;
}

body {
display: flex;
justify-content: center;
align-items: center;
height:  750px;
}

.see-squares {
display: flex;
flex-wrap: wrap;
width: 600px;
height: 600px;

border-style: solid;
border-top: 2.8px solid #333333;
border-right: 18px solid #333333;
border-bottom: 2.8px solid #333333;
border-left: 18px solid #333333;
border-radius: 3px;
}

.slider {
-webkit-appearance: none;  
appearance: none;
width: 604px; 
height: 10px;

background: #999999;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
padding: 0px;

margin-right: -272.2px;
margin-left: -272.2px;
margin-bottom: 20.8px;

border-radius: 2px;
transform: rotate(90deg);
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none; 
appearance: none;
width: 25px;
height: 25px;
background: #333333;
cursor: pointer;
border-radius: 2.6px;
}

.slider::-moz-range-thumb {
width: 25px; 
height: 25px; 
background: #333333;
cursor: pointer;
}